/* RESET COMMON */
/* ----------------------------------------- */

/**
 * JiSen's Reset Stylesheet
 *
 * v1.0
 * 2017-01-04
 *
 */

a, abbr, acronym, address, applet, article, aside, audio, 
b, big, body, blockquote, 
center, cite, code, caption, canvas,  
del, details, dd, dfn, div, dl, dt,
em, embed, 
fieldset, figure, figcaption, footer, form, 
html, header, hgroup, h1, h2, h3, h4, h5, h6,
i, iframe, img, input, ins, 
kbd, 
label, legend, li,
mark, menu, 
nav, 
object, ol, output, 
p, pre,
q, 
ruby, 
section, span, summary,
s, samp, small, strike, sub, sup, 
table, tbody, tfoot, thead, tr, th, td, tt, time, 
u, ul, 
var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "georgia","Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	-ms-interpolation-mode: bicubic;
	-webkit-touch-callout: none
}
a {
	text-decoration: none;
    color: #333;
}
/*单击时去除阴影*/
a,img,button,input,textarea{
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}
/*去除表单的默认样式*/
input,textarea{
	-webkit-appearance:none;
	outline: none;
	line-height: normal;
}
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input::-ms-clear{display: none;}
input::-ms-reveal{display: none;}

/*去除谷歌默认填充颜色*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;;
    color: #000;
}
:focus {
	outline: 0
}
ol, ul{
	list-style: none;
}

/* ----------------COMMON CSS------------------------- */
.fl-rt {
	float: right
}
.fl-lt {
	float: left
}
.text-lf {
	text-align: left
}
.text-ct {
	text-align: center
}
.text-rt {
	text-align: right
}

.clearfix:after, .clearfix:before {
	display: table;
	content: " "
}
.clearfix:after {
	clear: both
}
.none {
	display: none;
}
